html {
    background-color: #0d001a;
    color: white;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
  }

  .containers {
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    min-width: 50px;
  }

  .c1 {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color: #1a0033;
    border-radius: 17px;
  }

  .c1 > button {
    box-shadow:inset 0px -3px 7px 0px #ffa31a;
      background:linear-gradient(to bottom, #ffa31a 5%, #995c00 100%);
      background-color:#ffa31a;
      border-radius:10px;
      border:none;
      display:inline-block;
      cursor:pointer;
      color:#ffffff;
      font-family: "Trebuchet MS", Helvetica, sans-serif;
      font-size:15px;
      padding:9px 23px;
      text-decoration:none;
      text-shadow:0px 1px 0px #263666;
    outline: none;
    margin-bottom: 75px;
  }