html {
    background-color: #fbf7f3;
    color: #e0e0e0;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .linkedin {
    height: 58px;
    width: 58px;
    border-radius: 10px;
  }

  .bog {
    height: 58px;
    width: 49px;
    border-radius: 10px;
  }

  .name {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .logos > figure > img {
    height: 200px;
    width: 200px;
    border-radius: 50px;
    align-self: center;
  }
  .logos > figure > a >img {
    height: 200px;
    width: 200px;
    border-radius: 50px;
    align-self: center;
  }

  .c1 {
    display:flex;
    flex-direction:row;
    justify-content: space-around;
  }

  .containers > .header > .name > a > img {
    align-self: flex-start;
  }
  .c1 > a {
      background:linear-gradient(to right, #f38d6a 5%, #fa8479 100%);
      background-color: #fa8479;
      border:none;
      cursor:pointer;
      color:#b5b5b5;
      font: Verdana;
      font-size:15px;
      padding:9px 23px;
      text-decoration:none;
      outline: none;
      border-radius: 10px;
      height: 50px;
      width: 200px;
      font-weight: bold;
    margin-bottom: 50px;
  }
  
  .h {
    margin-top:5px;
    color:#333333;
    font-size:200px;
  }


.c1 > a:active {
  position:relative;
  top:2px;
}
    
  